@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Slider Library specific styles overriding */
.alice-carousel__prev-btn, .alice-carousel__next-btn{
  padding: 0;
}
.alice-carousel__dots{
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.alice-carousel__dots-item:not(.__custom), .alice-carousel__dots-item:not(.__custom):hover{
  width: 12px;
  height: 12px;
  background: #dbdbdb;
  border: 4px solid #c7c9cb;
}
.alice-carousel__dots-item:not(.__custom).__active{
  background: #0073C0;
  border: 4px solid #A1C9E1;
}
@media screen and (max-width: 1000px){
  .alice-carousel__dots-item:not(.__custom), .alice-carousel__dots-item:not(.__custom):hover{
    width: 10px;
    height: 10px;
  }
}